@import "variables";
@import "mixins";

@font-face {
  font-family: "Gilroy", sans-serif;
  src: url(../fonts/Gilroy-Bold.woff2);
  src: url(../fonts/Gilroy-ExtraBold.woff2);
  src: url(../fonts/Gilroy-Light.woff2);
  src: url(../fonts/Gilroy-Medium.woff2);
  src: url(../fonts/Gilroy-Regular.woff2);
  src: url(../fonts/Gilroy-SemiBold.woff2);
}

*,
*::before,
*::after {
  font-family: "Inter", sans-serif;
  font-family: "Gilroy", sans-serif;
}

.header {
  background-color: $bg-main;

  &__nav {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }

  &__img {
    margin-right: 10px;
  }

  &__logo {
    max-width: 363px;
    display: flex;
    align-items: center;
  }

  &__logo-name {
    margin-right: 5px;
    display: flex;
    color: #000;
    font-family: "Gilroy", sans-serif;
    font-size: 30px;
    font-weight: 800;
    letter-spacing: -0.7px;
  }

  &__logo-text {
    color: #000;
    font-family: "Gilroy", sans-serif;
    font-size: 35px;
    font-weight: 400;
    letter-spacing: -0.7px;
    text-transform: uppercase;
    position: relative;
  }

  &__logo-text::after {
    content: "®";
    position: absolute;
    color: #000;
    font-family: "Gilroy", sans-serif;
    font-size: 23px;
    font-weight: 300;
  }

  &__nav-menu {
    color: $title-color;
    font-family: "Gilroy", sans-serif;
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
    transition: 0.4s;

    &:hover {
      color: $white;
    }
  }

  &__title {
    max-width: 1780px;
    width: 100%;
    text-align: center;
    color: $title-color;
    font-family: "Gilroy", sans-serif;
    font-size: 150px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 121px;
    position: relative;
  }

  &__title::after {
    content: "";
    background-image: url(../images/header/header-arrow.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 25px;
    height: 40px;
    bottom: -78px;
    right: 50%;
  }

  &__title-span {
    display: block;
    color: $title-color;
    font-family: "Gilroy", sans-serif;
    font-size: 150px;
    font-weight: 300;
    text-transform: capitalize;
  }

  &__photo {
    height: 956px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 93px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
  }

  &__inner-text {
    max-width: 1295px;
    color: $title-color;
    font-family: "Gilroy", sans-serif;
    font-size: 62px;
    font-weight: 300;
  }

  &__inner-text-fat {
    color: #252525;
    font-family: "Gilroy", sans-serif;
    font-size: 62px;
    font-weight: 800;
  }

  &__inner-wrap {
    flex-basis: 485px;
    padding: 60px 70px 60px 70px;
    background-color: $title-color;
    color: $white;
    text-align: right;
    font-family: "Gilroy", sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
    text-transform: uppercase;
    align-self: start;
  }

  &__inner-list {
    margin-top: 30px;
    display: flex;
    justify-content: end;
  }

  &__inner-item+&__inner-item {
    margin-left: 20px;
  }

  &__list {
    width: 100%;
    padding: 70px 70px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $title-color;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
  }

  &__list-item {
    display: flex;
    align-items: center;
  }

  &__list-link {
    padding: 15px 40px;
    background-color: $white;
    border-radius: 50px;
  }
}

.container {
  max-width: calc(1750px + 30px);
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

.container-box {
  max-width: calc(1900px + 20px);
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;
}

.work {
  padding: 70px 0 100px;
  background-color: $bg-main;
  border-top: 1px solid $title-color;

  &__title {
    @include title;
  }

  &__wrapp {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 567px);
    gap: 70px 40px;
    margin-bottom: 70px;
  }

  &__wrap-item {
    position: relative;

    &:hover>.work__inner {
      display: flex;
    }

    &:hover>.work__wrapp-img {
      display: none;
      transition: all 0.9s;
    }
  }

  &__wrapp-img {
    max-width: 100vh;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__btn {
    padding: 15px 60px;
    border-radius: 50px;
    background: #fff;
    display: block;
    margin: 0 auto;
    color: #252525;
    font-family: "Gilroy", sans-serif;
    font-size: 18px;
    font-weight: 400;
    transition: 0.5s;

    &:hover {
      background-color: $title-color;
      color: $white;
    }
  }

  &__inner {
    max-width: 100vh;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $bg-main;
    position: absolute;
    display: none;
    transition: 0.7s all;
  }

  &__inner-title {
    color: #000;
    font-family: "Gilroy", sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 44px;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  &__inner-text {
    @include text;
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 10px;
  }

  &__inner-year {
    display: inline-block;
    @include text;
  }

  &__inner-link {
    padding: 15px 53px 15px 30px;
    border-radius: 50px;
    background-color: $title-color;
    color: $white;
    font-family: "Gilroy", sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
    align-self: self-end;
    position: relative;
  }

  &__inner-link::after {
    content: "";
    background-image: url(../images/work/link-arrow.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 21px;
    height: 14px;
    right: 22px;
    top: 18px;
  }
}

@import "fonts";

main {
  // border-top: #252525 1px solid;
  background-color: #f5f3ea;
  // border-bottom: #252525 1px solid;
  background-color: #F5F3EA;
}

.what-i-do-background {
  background-image: url(../images/Frame3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 1107px;
  width: 980px;
  background-image: url(../images/what-i-do/Frame3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 1107px;
  width: 980px;
}

.what-i-do {
  display: flex;
  border-top: #252525 1px solid;
  border-bottom: #252525 1px solid;
  display: flex;
}

.all-blocks {
  display: flex;
  flex-direction: column;
  margin-left: 111px;

  &__h2 {
    color: #252525;
    font-family: "Gilroy-Light";
    font-size: 150px;
    text-transform: uppercase;
    margin: 70px 0 100px 0;
  }
}

// 01 Digital Design

.digital-design {
  position: relative;

  &__block-title {
    color: #000;
    font-family: "Gilroy-SemiBold";
    font-size: 44px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &__block-title::before {
    content: "01";
    margin-right: 10px;
    font-family: "Gilroy-Light";
  }

  &__block-content {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    width: 770px;
  }
}

.digital-design::after {
  content: "";
  position: absolute;
  background-color: #252525;
  height: 1px;
  width: 759px;
  margin: 40px 0 40px 0;
}

// 02 Art Direction

.art-direction {
  position: relative;
  margin-top: 80px;

  &__block-title {
    color: #000;
    font-family: "Gilroy-SemiBold";
    font-size: 44px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &__block-title::before {
    content: "02";
    margin-right: 10px;
    font-family: "Gilroy-Light";
  }

  &__block-content {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    width: 770px;
  }
}

.art-direction::after {
  content: "";
  position: absolute;
  background-color: #252525;
  height: 1px;
  width: 759px;
  margin: 40px 0 40px 0;
}

// 03 Interaction Design

.interaction-design {
  position: relative;
  margin-top: 80px;

  &__block-title {
    color: #000;
    font-family: "Gilroy-SemiBold";
    font-size: 44px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &__block-title::before {
    content: "03";
    margin-right: 10px;
    font-family: "Gilroy-Light";
  }

  &__block-content {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    width: 770px;
  }
}

.interaction-design::after {
  content: "";
  position: absolute;
  background-color: #252525;
  height: 1px;
  width: 759px;
  margin: 40px 0 40px 0;
}

// 04 Motion Design

.motion-design {
  position: relative;
  margin-top: 80px;

  &__block-title {
    color: #000;
    font-family: "Gilroy-SemiBold";
    font-size: 44px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &__block-title::before {
    content: "04";
    margin-right: 10px;
    font-family: "Gilroy-Light";
  }

  &__block-content {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    width: 770px;
  }
}

//My clients block

.my-clients {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-top: 1px #252525 solid;
  position: relative;

  &__h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #252525;
    font-family: Gilroy;
    font-size: 202px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 8.48px;
    text-transform: uppercase;
  }
}

.my-clients-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
  width: 90%;
  margin: 0 auto; 
}

.my-clients::after {
  content: "";
  position: absolute;
  top: 21%;
  left: 33.33%;
  height: 77%;
  width: 1px;
  background: #000;
}

.my-clients-content::before {
  content: "";
  position: absolute;
  top: 60%; 
  left: 6%;
  height: 1px;
  width: 87%;
  background: #000;
}

.my-clients-content::after {
  content: "";
  position: absolute;
  top: 21%;
  left: 64.5%;
  height: 77%;
  width: 1px;
  background: #000;
}

// #################

.exceptional,
.art-direc,
.interaction,
.captivating,
.dianne,
.dianne-second {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 30px;
  max-width: 537px;
  box-sizing: border-box;

  &__head-text {
    color: #333;
    font-family: "Gilroy-Bold";
    font-size: 40px;
    font-weight: 800;
  }

  &__content-text {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
  }

  &__img {
    width: 70px;
    height: 70px;
  }

  &__div {
    display: flex;
  }

  &__name {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
  }

  &__profesion {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
  }
}

.column-div {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 10px;
}

// Contact

.contact {
  margin-top: 80px;
  border-top: #252525 1px solid;
  display: flex;
  padding: 10px 10px 10px 10px;
  gap: 150px;
  border-bottom: #252525 1px solid;

  &__h2 {
    color: #333;
    font-family: "Gilroy-Light";
    font-size: 155px;
    font-weight: 300;
    text-transform: uppercase;
  }
}

.contact-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__head {
    color: #252525;
    font-family: "Gilroy-Bold";
    font-size: 64px;
    font-weight: 400;
    text-transform: uppercase;
  }

  &__content {
    color: #252525;
    font-family: Gilroy;
    font-size: 34px;
    font-weight: 400;
    margin: 30px 0 30px 0;
  }

  &__button {
    display: flex;
    padding: 15px 30px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background: #252525;
    color: #FFF;
    font-family: Gilroy;
    font-size: 18px;
    text-transform: capitalize;
    transition: background 0.3s, color 0.3s;
  }

  &__button:hover {
    background: rgb(255, 255, 255);
    color: #252525;
  }

  &__button:hover &__svg path {
    stroke: #252525;
    transition: stroke 0.3s;
  }

  &__svg {
    vertical-align: middle;
    margin-left: 5px;
  }
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F5F3EA;
}

.footer-text {
  margin: 24px 70px;

  &__p {
    color: #333;
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 400;
  }

  &__span {
    color: #333;
    font-family: "Gilroy-SemiBold";
    font-size: 18px;
    font-weight: 400;
  }
}

.footer-img {
  display: flex;
  justify-content: flex-end;
  margin: 24px 70px;

  &__social-media {
    margin-right: 10px;
  }
}

.team {
  border-top: 1px solid $title-color;
  background-color: $bg-main;

  &__title {
    @include title;
  }

  &__wrapp {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px 30px;
    padding-bottom: 50px;
  }

  &__wrapp-item--last {
    grid-column: 3/5;
  }

  &__name {
    color: #333;
    font-family: "Gilroy", sans-serif;
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
  }

  &__profession {
    color: #333;
    font-family: "Gilroy", sans-serif;
    font-size: 20px;
    font-weight: 400;
  }

  &__img {
    max-width: 100%;
    margin-bottom: 10px;
  }

  &__list {
    display: flex;
    justify-content: end;
  }

  &__list-item {
    max-width: 100%;
    height: 100%;
  }

  &__list-item+&__list-item {
    margin-left: 10px;
  }

  &__profession {
    margin-bottom: 15px;
  }

  &__wrapp-item--last {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__join {
    color: #333;
    font-family: "Gilroy", sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 15px;
  }

  &__ask {
    color: #333;
    font-family: "Gilroy", sans-serif;
    font-size: 64px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 15px;
  }

  &__btn {
    max-width: 163px;
    padding: 10px 30px;
    border-radius: 50px;
    background-color: $title-color;
    color: $white;
    font-family: "Gilroy", sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
    position: relative;
  }

  &__btn::after {
    content: "";
    background-image: url(../images/work/link-arrow.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 21px;
    height: 14px;
    right: 28px;
    top: 13px;
  }
}

// MEDIA



@media screen and (min-width: 768px) and (max-width: 1265px) {

  .what-i-do-background {
    width: 100%;
    height: 991px;
  }

  .header {
    &__title {
      font-size: 94px;
    }

    &__title-span {
      font-size: 80px;
    }

    &__photo {
      margin-bottom: 30px;
    }

    &__inner {
      display: flex;
      flex-direction: column;
    }

    &__inner-text {
      margin-bottom: 30px;
    }

    &__inner-wrap {
      flex-basis: 100%;
      align-self: auto;
    }

    &__inner-list {
      padding: 30px 0 30px;
    }
  }

  .work {
    &__title {
      font-size: 144px;
    }

    &__wrapp {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, 1fr);
      gap: 30px;
    }

    &__wrap-item {

      &:hover>.work__inner {
        display: flex;
        justify-content: space-around;
      }

      &__wrapp-img {
        max-width: 100vh;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .team {
    &__title {
      font-size: 135px;
    }

    &__wrapp {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
  }

  .what-i-do-background {
    width: 100%;
    height: 991px;
  }

  .all-blocks {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 30px;

    &__h2 {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #252525;
      font-family: "Gilroy-Light";
      font-size: 140px;
      text-transform: uppercase;
    }
  }

  .what-i-do {
    display: flex;
    flex-direction: column;
  }

  // MEDIA 01 Digital Design

  .digital-design {

    &__block-title {
      color: #000;
      font-family: "Gilroy-SemiBold";
      font-size: 44px;
      text-transform: uppercase;
      margin-bottom: 10px;
    }

    &__block-title::before {
      content: "01";
      margin-right: 10px;
      font-family: "Gilroy-Light";
    }

    &__block-content {
      color: #000;
      font-family: Inter;
      font-size: 20px;
      font-weight: 400;
      width: auto;
    }
  }

  .digital-design::after {
    content: "";
    background-color: #252525;
    height: 1px;
    width: 97%;
  }

  // MEDIA 02 Art Direction

  .art-direction {
    margin-top: 80px;

    &__block-title {
      color: #000;
      font-family: "Gilroy-SemiBold";
      font-size: 44px;
      text-transform: uppercase;
      margin-bottom: 10px;
    }

    &__block-title::before {
      content: "02";
      margin-right: 10px;
      font-family: "Gilroy-Light";
    }

    &__block-content {
      color: #000;
      font-family: Inter;
      font-size: 20px;
      font-weight: 400;
      width: auto;
    }
  }

  .art-direction::after {
    content: "";
    background-color: #252525;
    height: 1px;
    width: 97%;
  }

  // MEDIA 03 Interaction Design

  .interaction-design {
    margin-top: 80px;

    &__block-title {
      color: #000;
      font-family: "Gilroy-SemiBold";
      font-size: 44px;
      text-transform: uppercase;
      margin-bottom: 10px;
    }

    &__block-title::before {
      content: "03";
      margin-right: 10px;
      font-family: "Gilroy-Light";
    }

    &__block-content {
      color: #000;
      font-family: Inter;
      font-size: 20px;
      font-weight: 400;
      width: auto;
    }
  }

  .interaction-design::after {
    content: "";
    background-color: #252525;
    height: 1px;
    width: 97%;
  }

  // MEDIA 04 Motion Design

  .motion-design {
    margin-top: 80px;

    &__block-title {
      color: #000;
      font-family: "Gilroy-SemiBold";
      font-size: 44px;
      text-transform: uppercase;
      margin-bottom: 10px;
    }

    &__block-title::before {
      content: "04";
      margin-right: 10px;
      font-family: "Gilroy-Light";
    }

    &__block-content {
      color: #000;
      font-family: Inter;
      font-size: 20px;
      font-weight: 400;
      width: auto;
      margin-bottom: 40px;
    }
  }

  // MEDIA My clients block

  .my-clients::after,
  .my-clients-content::before,
  .my-clients-content::after {
    display: none;
  }

  .my-clients__h2 {
    color: #252525;
    font-family: Gilroy;
    font-size: 125px;
    text-transform: uppercase;
  }

  .my-clients-content {
    margin: 0 auto; 
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
  }

  // ###################

  .exceptional,
  .art-direc,
  .interaction,
  .captivating,
  .dianne,
  .dianne-second {
    display: flex;
    max-width: 931px;
    flex-direction: column;
    align-items: flex-start;

    &__head-text {
      color: #333;
      font-family: "Gilroy-Bold";
      width: 90%;
      font-size: 40px;
      font-weight: 800;
    }

    &__content-text {
      width: 90%;
      color: #000;
      font-family: Inter;
      font-size: 20px;
      font-weight: 400;
    }

    &__div {
      display: flex;
    }

    &__name {
      color: #000;
      font-family: Inter;
      font-size: 20px;
      font-weight: 600;
    }

    &__profesion {
      color: #000;
      font-family: Inter;
      font-size: 20px;
      font-weight: 400;
    }
  }

  .exceptional::after,
  .art-direc::after,
  .interaction::after,
  .captivating::after,
  .dianne::after {
    content: "";
    width: 90%;
    height: 1px;
    background-color: #252525;
  }

  .column-div {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 10px;
  }

  // Contact

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__h2 {
      font-family: "Gilroy-Light";
      font-size: 150px;
    }
  }

  .contact-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -100px;

    &__head {
      text-align: center;
    }

    &__content {
      text-align: center;
    }

    &__button {
      display: flex;
      padding: 15px 30px;
      justify-content: center;
      align-items: center;
      border-radius: 50px;
      background: #252525;
      color: #FFF;
      font-family: Gilroy;
      font-size: 18px;
      text-transform: capitalize;
      transition: background 0.3s, color 0.3s;
    }
  }
}

@media screen and (max-width: 768px) {
  body {
    min-width: 320px;
    overflow-x: hidden;
  }

  .what-i-do-background {
    width: 100%;
    height: 478px;
  }

  body {
    min-width: 320px;
    overflow-x: hidden;
  }

  .header {
    &__logo-name {
      display: none;
    }

    &__logo-text {
      display: none;
    }

    &__title {
      font-size: 35px;
    }

    &__title-span {
      font-size: 38px;
    }

    &__photo {
      margin-bottom: 30px;
    }

    &__inner {
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;
    }

    &__inner-text {
      text-align: center;
      font-size: 30px;
      margin-bottom: 30px;
    }

    &__inner-text-fat {
      font-size: 30px;
    }

    &__inner-wrap {
      flex-basis: 100%;
      padding: 30px 26px 30px 0;
      font-size: 25px;
      align-self: auto;
    }

    &__inner-list {
      padding: 0px;
    }

    &__list {
      border-top: none;
      padding: 18px 18px 30px;
    }
  }

  .work {
    &__title {
      font-size: 47px;
    }

    &__wrapp {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, 1fr);
    }

    &__wrap-item {
      &:hover>.work__inner {
        display: flex;
        justify-content: space-evenly;
      }
    }

    &__btn {
      max-width: 700px;
      margin: 0 auto;
      width: 100%;
      text-align: center;
    }
  }

  .team {
    &__title {
      margin-top: 30px;
      font-size: 47px;
    }

    &__wrapp {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }

    &__name {
      text-align: center;
    }

    &__profession {
      text-align: center;
    }

    &__list {
      justify-content: center;
    }

    &__join {
      text-align: center;
      font-size: 25px;
    }

    &__ask {
      text-align: center;
      font-size: 38px;
    }

    &__btn {
      max-width: 700px;
      margin: 0 auto;
      width: 100%;
      text-align: center;
    }

    &__btn::after {
      right: 66px;
    }
  }

  .what-i-do-background {
    width: 100%;
    height: 478px;
  }

  .all-blocks {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 15px;

    &__h2 {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #252525;
      font-family: "Gilroy-Light";
      font-size: 80px;
      text-transform: uppercase;
    }
  }

  .what-i-do {
    display: flex;
    flex-direction: column;
  }

  // MEDIA 01 Digital Design

  .digital-design {

    &__block-title {
      color: #000;
      font-family: "Gilroy-SemiBold";
      font-size: 35px;
      text-transform: uppercase;
      margin-bottom: 10px;
    }

    &__block-title::before {
      content: "01";
      margin-right: 10px;
      font-family: "Gilroy-Light";
    }

    &__block-content {
      color: #000;
      font-family: Inter;
      font-size: 20px;
      font-weight: 400;
      width: auto;
    }
  }

  .digital-design::after {
    content: "";
    background-color: #252525;
    height: 1px;
    width: 96%;
  }

  // MEDIA 02 Art Direction

  .art-direction {
    margin-top: 80px;

    &__block-title {
      color: #000;
      font-family: "Gilroy-SemiBold";
      font-size: 35px;
      text-transform: uppercase;
      margin-bottom: 10px;
    }

    &__block-title::before {
      content: "02";
      margin-right: 10px;
      font-family: "Gilroy-Light";
    }

    &__block-content {
      color: #000;
      font-family: Inter;
      font-size: 20px;
      font-weight: 400;
      width: auto;
    }
  }

  .art-direction::after {
    content: "";
    background-color: #252525;
    height: 1px;
    width: 96%;
  }

  // MEDIA 03 Interaction Design

  .interaction-design {
    margin-top: 80px;

    &__block-title {
      color: #000;
      font-family: "Gilroy-SemiBold";
      font-size: 35px;
      text-transform: uppercase;
      margin-bottom: 10px;
    }

    &__block-title::before {
      content: "03";
      margin-right: 10px;
      font-family: "Gilroy-Light";
    }

    &__block-content {
      color: #000;
      font-family: Inter;
      font-size: 20px;
      font-weight: 400;
      width: auto;
    }
  }

  .interaction-design::after {
    content: "";
    background-color: #252525;
    height: 1px;
    width: 96%;
  }

  // MEDIA 04 Motion Design

  .motion-design {
    margin-top: 80px;

    &__block-title {
      color: #000;
      font-family: "Gilroy-SemiBold";
      font-size: 35px;
      text-transform: uppercase;
      margin-bottom: 10px;
    }

    &__block-title::before {
      content: "04";
      margin-right: 10px;
      font-family: "Gilroy-Light";
    }

    &__block-content {
      color: #000;
      font-family: Inter;
      font-size: 20px;
      font-weight: 400;
      width: auto;
      margin-bottom: 40px;
    }
  }

  // MEDIA My clients block

  .my-clients::after,
  .my-clients-content::before,
  .my-clients-content::after {
    display: none;
  }

  .my-clients__h2 {
    color: #252525;
    font-family: Gilroy;
    font-size: 43px;
    text-transform: uppercase;
  }

  .my-clients-content {
    margin: 0 auto; 
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
  }

  // ###################

  .exceptional,
  .art-direc,
  .interaction,
  .captivating,
  .dianne,
  .dianne-second {
    display: flex;
    max-width: 768px;
    flex-direction: column;
    align-items: flex-start;

    &__head-text {
      color: #333;
      font-family: "Gilroy-Bold";
      width: 90%;
      font-size: 40px;
      font-weight: 800;
    }

    &__content-text {
      width: 90%;
      color: #000;
      font-family: Inter;
      font-size: 20px;
      font-weight: 400;
    }

    &__div {
      display: flex;
    }

    &__name {
      color: #000;
      font-family: Inter;
      font-size: 20px;
      font-weight: 600;
    }

    &__profesion {
      color: #000;
      font-family: Inter;
      font-size: 20px;
      font-weight: 400;
    }
  }

  .exceptional::after,
  .art-direc::after,
  .interaction::after,
  .captivating::after,
  .dianne::after {
    content: "";
    width: 90%;
    height: 1px;
    background-color: #252525;
  }

  .column-div {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 10px;
  }

  // Contact

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__h2 {
      font-family: "Gilroy-Light";
      font-size: 68px;
    }
  }

  .contact-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -100px;

    &__head {
      text-align: center;
      font-size: 50px;
    }

    &__content {
      text-align: center;
      font-size: 30px;
    }

    &__button {
      display: flex;
      padding: 15px 30px;
      width: 90%;
      justify-content: center;
      align-items: center;
      border-radius: 50px;
      background: #252525;
      color: #FFF;
      font-family: Gilroy;
      font-size: 18px;
      text-transform: capitalize;
      transition: background 0.3s, color 0.3s;
    }
  }


  // Footer

  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-img {
    margin: -5px 0 20px 0;
  }
}